# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# /functions
/functions/node_modules
/functions/run
/functions/lib
/functions/etc
/functions/pdfservices-api-credentials.json
/functions/private.key

/templates
# dependencies
/node_modules


/.pnp
.pnp.js


/functions copy
# testing
/coverage

/pages/VOID

# next.js
/.next/
/out/

/TRASH

# production
/build]

/adobe

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
