$collapse: 919px;
$menu: 768px;
$small: 260px;



$editSVG:'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><path d="M16,3 L15,4 L5.00087166,4 C4.44463086,4 4,4.4481055 4,5.00087166 L4,18.9991283 C4,19.5553691 4.4481055,20 5.00087166,20 L18.9991283,20 C19.5553691,20 20,19.5518945 20,18.9991283 L20,9 L21,8 L21,19.0049107 C21,20.1067681 20.1073772,21 19.0049107,21 L4.99508929,21 C3.8932319,21 3,20.1073772 3,19.0049107 L3,4.99508929 C3,3.8932319 3.89208723,3 4.99710766,3 L16,3 Z M11.7353932,14.4736555 C11.5209819,14.6855545 11.364488,14.7466433 10.9359056,14.8780783 C10.8695654,14.8984231 10.7986443,14.9191964 10.7236194,14.940367 C10.4885265,15.0067056 10.2575834,15.065219 10.0992652,15.1030509 L8.52085003,15.4802307 L8.89358064,13.900759 C8.93114764,13.7415662 8.98940713,13.5097304 9.05600777,13.2734912 C9.07946239,13.1902953 9.10249284,13.1121066 9.12508648,13.039506 C9.25162269,12.6329047 9.31695107,12.4699223 9.52378246,12.2630909 L20.2456357,1.53853771 C20.6837735,1.10028951 21.384304,1.11888325 21.8064385,1.54842362 L22.4379534,2.19101767 C22.852215,2.61254699 22.8696069,3.30432261 22.4356461,3.73965217 L11.7353932,14.4736555 Z M11.0271739,13.767663 L21.7274268,3.03365968 C21.7654068,2.99555989 21.7629182,2.93081267 21.7247248,2.8919492 L21.09321,2.24935515 C21.0537377,2.2091904 20.9907842,2.20759317 20.9528315,2.24555546 L10.2309783,12.9701087 C10.1127717,13.0883152 9.86684783,14.1304348 9.86684783,14.1304348 C9.86684783,14.1304348 10.9130435,13.8804348 11.0271739,13.767663 Z"/></svg>';
//$editSVG:'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" fill="rgb(26, 115, 232)" version="1.1"><path d="M12.7275329,15.7112334 L17.7069449,10.7111319 C18.0969055,10.3202729 18.0989619,9.68955917 17.7054527,9.29631221 C17.3146679,8.90578792 16.6754799,8.91234274 16.2917883,9.29691837 L12.0161932,13.5915813 L7.71000957,9.29126299 C7.32493799,8.90646332 6.68459035,8.89972025 6.29380563,9.29024455 C5.90029643,9.6834915 5.90348979,10.3143898 6.29485291,10.7054766 L11.306561,15.7108211 C11.4916499,15.8957793 11.7357165,15.9933932 11.9826987,16.0015294 C12.2527735,16.0113704 12.5255534,15.9136783 12.7275329,15.7112334 Z"/></svg>';


.selected-order-container{
    color:red
}
.selected-order-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--theme-color-fg-primary);
    font-family: "Google Sans", sans-serif;
    font-size: var(--fire-font-size-featurebar-title);
    font-weight: 500;
    line-height: 38px;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 14px;
    margin-left: -8px;
    @media (max-width: $collapse){
        display: none;
      }
}
.selected-assigned-to{
    color: var(--fire-color-black-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
}
.selected-map-container{
    height: 100%;
    width: 100%;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0s;
}


.order-info-section{
    position: relative;
    @media (max-width: $collapse){
        margin-top: 0px;
      }
    &:after {
        background-color: var(--theme-color-fg-default-border);
        bottom: 0px;
        content: "";
        height: 1px;
        left: -12px;
        right: -24px;
        position: absolute;
        
    }
    h1{
        font-weight: 500;
        color: var(--fire-color-black-primary);
        padding-top: 86px;
        @media (max-width: $collapse){
            padding-top: 0px;
        }
        // &:after {
        //     content: url($editSVG);
        //    position: absolute;
        //    width: 10px;
        //    right: 12px; 
        // }
    }
    h4{
        color: var(--fire-color-black-primary);
    }
    p{
        color: var(--fire-color-black-secondary);
        font-size: 14px;
    }






}
.order-info-details{
    line-height: 24px;
    padding-left: 36px;
    color: var(--fire-color-black-primary);
    font-size: 16px;
    font-weight: 600;
    svg{
        position: absolute;
        left: 0;
    }
}
.collapse-container{
   min-height: 60px;
   padding-left: 36px;
}



.collapse-button{
    margin-bottom: 16px;
    height: 44px;
    font-size: 14px;
    border:1px solid var(--fire-color-primary-default);
    background-color:#fff;
    color:var(--fire-color-primary-default);
    &:hover{
        background-color:var(--fire-color-blue-gray-20);
    }
 }


     .order-img{
    max-width: 360px;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    position: relative;
    height: 220px;
    border:var(--fire-color-black-border-10-1);
    margin-bottom: 16px;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // height: 200px;
    }
 }



  








