$collapse: 919px;
.table-form-outlet{
    // overflow: hidden;
    padding: 20px;
    padding-bottom: 140px;
    .table-card{
        display: block;
        position: relative;
        padding: 16px;
        border-radius: 20px;
        // background: var(--fire-color-white-primary);
        background-color: rgb(250, 250, 250);
        color: rgba(0, 0, 0, 0.87);
        padding: 0px;
        margin: 0 auto;
        max-width: 936px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 14px;   
        //min-height: 540px;
        padding-bottom: 54px;
        &.white{
            background-color: #fff;
        }
        //@media screen and (max-width: $collapse) {
            //min-height: 610px;
        //}        
        /* box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);*/

    }

}


.table-header{
    //font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: var(--fire-color-grey-primary);
    border-radius: inherit;
    min-height: 56px;
    margin-top: 0; 
    color: rgba(0,0,0,.87);
    &.white{
        background-color: #fff;
    }
}



.card-content {
    display: block;
    // margin-bottom: 16px;  
    font-size: 14px;
    min-height: 376px;
    .table{
        display: block;
        border: none;
        height: 100%;
        width: 100%;
        background: var(--fire-color-white-primary);
    }
}
.simple-action-bar{
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    margin-bottom: 8px;
    margin-right: 8px;

}
.card-actions{
    padding: 8px 0;
    display: block;
    //margin-bottom: 16px;
    padding: 8px 0;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}
.table-spinner-container {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    height: 376px;
    background-color: rgb(250, 250, 250);
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //border-radius: 20px;
    &.white{
        background-color: #fff;
    }
    .noResult{
         color: var(--fire-color-black-secondary);
    }
    
}


.table-row{
    background-color: var(--fire-color-white-primary);
    height: auto;
    min-height: 66px;
    display: flex;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box; 
    border-bottom-color: rgba(0,0,0,.12);
    width: 100%;
    @media screen and (max-width: $collapse) {
        padding-left: 8px;
    }
    &:hover{
        
      background-color: var(--fire-color-blue-gray-20);
    }
}
.table-cell{
    font-size: 13px;
    box-sizing: border-box;
    color: var(--fire-color-black-secondary);
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    padding: 10px 0;
    line-height: 46px;
    text-align: left;
    @media screen and (max-width: $collapse) {
        line-height: 38px;
    }
    &.hide{
        @media screen and (max-width: $collapse) {
            display: none;
        }
    }
    .cell-wrapper {
        padding: 0 12px;
        overflow: hidden;
        //padding: 0 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5;
    text-align: left;
        img{
            max-height: 54px;
            max-height: 54px;
            vertical-align: middle;
        }
    }
    .img-wrapper{
        margin: 0 13px;
        max-width: 360px;
        width: 100%;
        /* border-radius: 0.4rem; */
        overflow: hidden;
        position: relative;
        height: 46px;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // height: 200px;
        }
     }
}
.header-row{
    background-color: var(--fire-color-grey-primary);
    height: auto;
    min-height: auto;
    display: flex;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box; 
    border-bottom-color: rgba(0,0,0,.12);
    width: 100%;
    color:var(--fire-color-black-secondary);
    padding-left: 0px;
    &.white{
        background-color: #fff;
    }
    @media screen and (max-width: $collapse) {
        padding-left: 8px;
    }

}
.header-cell{
    font-size: 13px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.54);
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    padding: 10px 0;
    &.hide{
        @media screen and (max-width: $collapse) {
            display: none;
        }
    }
    .cell-wrapper {
        padding: 0 12px;
        overflow: hidden;
        //padding: 0 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
