.layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
}
@media (max-width: 767px) {
	.layout {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		background-color: white;
	}
}
.view {
	height: 100%;
	overflow: hidden;
}
@media (min-width: 767px) {
	.view {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		overflow: hidden;
		height: 100vh;
		position: relative;
	}
}


.info {
	min-width: 350px;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 11;
	background-color: white;
	min-height: 100%;
	overflow-y: auto;
	max-width: 100%;
	width: 350px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 1rem 0px 2rem;
	box-shadow: rgba(0, 0, 0, 0.2) 1rem 0px 2rem;
}
@media (max-width: 767px) {
	.info {
		margin-top: 18rem;
		-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -1rem 2rem;
		box-shadow: rgba(0, 0, 0, 0.2) 0px -1rem 2rem;
		width: 100%;
		padding-bottom: 8rem;
		overflow-x: hidden;
		min-width: unset;
	}
}
@media screen and (min-width: 1366px) {
	.info {
		min-width: 460px;
	}
}