.canvas-theme-container {
  --theme-color-bg: #f6f7f9;
  --theme-color-fg-primary: #1b3a57;
  --theme-color-fg-secondary: #476282;
  --theme-color-fg-tertiary: #a5afbb;
  --theme-color-fg-disabled: #8ea1b9;
  --theme-color-fg-default-border: #c3cfdd;
  --theme-color-fg-rgb: 71, 98, 130;
  --fire-focus-outline-color: rgba(var(--fire-color-primary-default-rgb), 0.5);
}
$collapse: 919px;
$menu: 768px;

/* Form Image */
/* Modal */
/* Upload */
/* File Input */
/* Modal Preview */ 
/* Notification Bar */ 
/* Form Map Container */
/* Sortable Item */
/* Sortable List Component */
$gray: #e3e3e3;
$ipad: 919px;
$ipadConsoleNav: 256px;
$laptop: 1025px;
$laptopConsoleNav: 302px;
$laptopL: 1441px;
$laptopLConsoleNav: 348px;
$fourK: 2561px;
$fourKConsoleNav: 404px;
$ipadInfo: 350px;
$laptopInfo: 420px;
$laptopLInfo: 480px;
$fourKInfo: 680px;
$screenWidth:100%;


/* Upload Form*/
.upload-modal-form{
    background: var(--fire-color-white-primary);
    margin: auto;
    padding: 24px 16px;
    position: relative;
    max-width: 360px;
    color: #000;
    border-radius: 15px;
    z-index: 3001;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    .image-preview{
      display: -webkit-flex;
      display: flex;
      width: 100%;
      .image-box{
        background-color:  var(--fire-color-white-primary);
        border: solid 1px var(--theme-color-fg-default-border);
        border-radius: 4px;
        box-sizing: border-box;
        color: var(--fire-color-black-secondary);
        font-size: 16px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        overflow: hidden;
        position: relative;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        min-width: 56px;
        opacity: 1;
        -webkit-opacity: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        height: 220px;
        margin: auto;
        margin-bottom: 12px;
        img{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
          -webkit-transform: translateY(-50%) translateX(-50%);

        }
        .form-image-placeholder{
          display: flex;
          width: 100px;
          height: 100px;
          justify-content: center;
          align-items: center;
          margin:auto;
          svg{
            transform: scale(3.0);
          }
        }
      }
    }
    .image-input{
      overflow: hidden;
    }
    .image-security{
      display: -webkit-flex;
      display: flex;
      color: var(--fire-color-black-secondary);
      font-size: 12px;
      margin-top: 24px;
      .security-lock{
        padding-top: 4px;
        margin-right: 10px;
      }
    }
}
/* File Input */
.upload-file-container {
  background-color: var(--fire-color-black-primary);
  border-radius: 5px;
  height: 54px;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 12px;
  overflow: hidden;
  span {
    line-height: 53px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .plus-sign {
    font-size: 24px;
    margin-right: 12px;
    display: inline-block;
    color: var(--fire-color-white-primary);
  }
  .upload-file-label {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase; 
    color: var(--fire-color-white-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
  }
  input {
    cursor: pointer;
    font-size: 200px;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
  }
  &.has-file{
    .plus-sign {
      display: none;
    }
    .upload-file-label {
      color: var(--fire-color-primary-light);
      display: block;
    }
  }
}
/* Modal Preview */ 
.preview-modal-form{
  background: var(--fire-color-white-primary);
  margin: auto;
  padding: 24px 16px;
  position: relative;
  max-width: 300px;
  color: #000;
  border-radius: 15px;
  z-index: 3001;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  .preview-content{
    text-align: center;
    margin: 0px 1rem 2.5rem;
    .preview-title{
      font-family: "Open Sans", Proxima, Helvetica;
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 0.03em;
      line-height: 1.8rem;
      margin-bottom:0px;
    }
    .preview-image{
      font-size: 8rem;
      margin-bottom:12px;
    }
    .preview-message{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.03em;
      margin: 0px;
      color: var(--fire-color-black-primary) ;
    }
  
  
  }
}
/* Refund Modal */
.standard-modal-card{
  background: var(--fire-color-white-primary);
  margin: auto;
  padding: 24px 16px;
  position: relative;
  max-width: 340px;
  color: #000;
  border-radius: 15px;
  z-index: 3001;
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
  width: 92%;
  .standard-modal-content{
    // text-align: center;
    margin: 6px 4px 6px;

  }
}
.refund-customer{
  text-align: left;
  margin-bottom: 6px;
}

.delivery-flow-app-bar{
  top: 0;
  left: 0px;
  right: 0;
  position: fixed;
  background-color: #fff;
  z-index: 500;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  border-bottom: 1px solid var(--theme-color-fg-default-border);
  @media (min-width: $ipad){
    left: $ipadConsoleNav;
    width: calc( #{$screenWidth} - #{$ipadConsoleNav});
  } 
  @media (min-width: $laptop){
    left: $laptopConsoleNav;
    width: calc( #{$screenWidth} - #{$laptopConsoleNav});
  }  
  @media (min-width: $laptopL){
    left: $laptopLConsoleNav;
    width: calc( #{$screenWidth} - #{$laptopLConsoleNav});
  }
  @media (min-width: $fourK){
    left: $fourKConsoleNav;
    width: calc( #{$screenWidth} - #{$fourKConsoleNav});
  } 
}



/*Backdrop*/
.side-menu-backdrop {
	background: var(--fire-color-black-alpha-54);
	bottom: 0;
	display: block;
	left: 0;
	opacity: .01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: opacity .15s linear, visibility .15s linear .15s;
	-o-transition: opacity .15s linear, visibility .15s linear .15s;
	transition: opacity .15s linear, visibility .15s linear .15s;
	visibility: hidden;
	width: 100%;
  z-index: 50;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  @media (min-width: $ipad){
    left: $ipadConsoleNav;
    width: calc( #{$screenWidth} - #{$ipadConsoleNav});
  } 
  @media (min-width: $laptop){
    left: $laptopConsoleNav;
    width: calc( #{$screenWidth} - #{$laptopConsoleNav});
  }  
  @media (min-width: $laptopL){
    left: $laptopLConsoleNav;
    width: calc( #{$screenWidth} - #{$laptopLConsoleNav});
  }
  @media (min-width: $fourK){
    left: $fourKConsoleNav;
    width: calc( #{$screenWidth} - #{$fourKConsoleNav});
  }  

  &.is-visible{
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    visibility: visible
  }
}
/* Refund Item */ 
.refund-item-scroll{
  max-height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}
.refund-item-row{
  display: flex;
  width: 100%;
  color: var(--fire-color-black-primary);
  padding: 8px 0;
  .refund-item-checkbox{
    display: flex;
    width: 26px;
    align-items: center;
  }
  .refund-item-info{
    display:flex;
    width: 100%;
    align-items: center;
    .refund-item-image{
      margin:0px auto;
      width:50px;
      img{
        width:50px;
      }
    }
    .refund-item-details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      
      .refund-item-name{
        font-size: 14px;
      }
      .refund-item-weight{
        font-size: 12px;
        color: var(--fire-color-black-secondary);
      }

    }
    .refund-item-price{
      position: relative;
      // width: 16%;
      font-size: 14px;
      color: rgb(66, 66, 66);
      text-align: right;
      padding-right: 12px;
      height: 44px;
      display: flex;
      align-items: center;
      color: var(--fire-color-black-primary);

    }
  }
}



/* modal-card*/ 
.modal-card{
  background: var(--fire-color-white-primary);
  margin: auto;
  padding: 0px 24px;
  position: relative;
  max-width: 90%;
  color: #000;
  border-radius: 15px;
  z-index: 3001;
  display: block; 
  width: 375px;
  &:after {
    @media screen and (max-width: $collapse) {
      background-color: var(--theme-color-fg-default-border);
      top: 56px;
      content: "";
      height: 1px;
      left: 0px;
      right: 0px;
      position: absolute;
    }
}
  @media screen and (max-width: $collapse) {
    left: 0;
    border-radius: 0;
    max-width: unset;
    width: 100vw;
    height: 100vh;
    /* padding-top: 65px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  //   .console-feature:after {
  //     background-color: var(--theme-color-fg-default-border);
  //     bottom: 0;
  //     content: "";
  //     height: 1px;
  //     left: 24px;
  //     right: 24px;
  //     position: absolute;
  // }
  }
  .card-feature{
    //padding: 0 24px;
    color: #929497;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-top: 24px;
    .card-title{
      color: var(--fire-color-black-primary);
      margin-bottom: 14px;
      // font-size: 15px;
      // font-weight: bold;
      // line-height: 1;
      // margin-bottom: 21px;
      // text-transform: none;
    }
    .card-sub-title{
      color:var(--fire-color-black-secondary);
      margin-bottom: 14px;
      @media screen and (max-width: $collapse) {
        width: 100%;
        
      }
    }    
  }

  .card-close{
    position: absolute;
    right:0;
    display: none;
    @media screen and (max-width: $collapse) {
      left: 0px;
      top: 0px;
      display: flex;
      width: 56px;
      height: 56px;
      justify-content: center;
      align-items: center;
      display: block;
    }
    svg{
      color:var(--fire-color-primary-default);
    }
  }
  .card-content{
    display: block;
  }
  button{
    &:not(.card-close) {
    margin-top:12px;
    height:48px;
    font-size:14px;
    float: right;
    margin-bottom: 24px;
    width:50%;
    //background-color: var(--fire-color-canvas-text);
    //&:hover{
     // background-color: var(--theme-color-fg-primary)
    //}
  }
}
}


.standard-modal-feature{
  //padding: 0 24px;
  color: #929497;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  .standard-modal-title{
    color: var(--fire-color-black-primary);
    margin-bottom: 14px;
    // font-size: 15px;
    // font-weight: bold;
    // line-height: 1;
    // margin-bottom: 21px;
    // text-transform: none;
  }
  .standard-modal-subtitle{
    color:var(--fire-color-black-secondary);
    margin-bottom: 14px;
    @media screen and (max-width: $collapse) {
      width: 100%;
      
    }
  }    
}
