

/* @media only screen and (max-width: 919px){} */



.overview-container {
    flex: 0 0 300px;
    padding-right: 0px;
    /* height: 100%;
    height: -webkit-fill-available;  */
}
.overview-break-container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    position: sticky;
    top: 160px;
    /* padding-right: 12px; */
}
.overview-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    max-width: 307px;
    /* padding: 29px 25px 34px; */
    overflow: hidden;
    position: relative;
    margin-right: 16px;
    padding-bottom: 12px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}
@media only screen and (max-width: 767px){
.overview-break-container {
    padding-bottom: 50px;
    top: 0px;
    height: fit-content;
    height: -webkit-fill-available;
    height: 100%;
    width: 100%;
    
}
.overview-box {
    max-width: unset;
    margin-right: 0px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
}

/* @media only screen and (max-width: 767px){
.overview-break-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 34px;
}} */




/* @media only screen and (max-width: 767px){
.overview-box {
    margin: 0px auto;
    max-width: 390px;
    box-shadow: none;
}}
@media only screen and (max-width: 767px){
.overview-box {
    max-width: 450px;
    padding: 12px 12px;
    top: 0px;
   
}} */

@media only screen and (max-width: 767px){
    .overview-container {
        /* display: none; */
        /* display: flex;
        justify-content: center; */
        display: flex;
        margin: 0px 20px;

       
    }}



.settings-page {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    //max-width: 960px;
    margin: 0px auto;
    width: 100%;
    padding-bottom: 80px;
    
}
@media only screen and (max-width: 767px){
.settings-page {
    display: block;
    max-width: none;
    margin: 0px;
    padding-bottom: 120px;
}}

.settings-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    /* max-width: 700px; */
 } 
 .select-container{
    width: 100%;
    display: flex;
    /* max-width: 700px; */
    justify-content: flex-end;
 } 


.overview-title{
    color: rgb(67, 71, 74);
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 16px;
    display: block;
}

.fixed-bottom-settings{

    padding-right: 18px;
    text-align: right;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 76px;
    background-color: #fff;
    width: calc(100% - 256px);
    /* justify-content: flex-end; */
    left: 256px;
    right: 0px;
    border-top: 1px solid #BDBDBD;
    z-index: 500;
    flex-direction: row;
}

@media only screen and (max-width: 919px){
    .fixed-bottom-settings{
        width: 100%;
        left: 0px;
     }
}

.fixed-bottom-app-bar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.settings-button{

    background-color: #2C384A;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 18px;
    transition: opacity .15s linear, visibility 0s linear .15s;
    -webkit-font-smoothing: antialiased;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    margin-left: 16px;
    border-radius: 25px;
    /* min-width: 121px; */
    width: 198px;
    height: 45px;
}
.save-product-button{

    background-color: #2C384A;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 18px;
    transition: opacity .15s linear, visibility 0s linear .15s;
    -webkit-font-smoothing: antialiased;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    margin-left: 16px;
    border-radius: 25px;
    /* min-width: 121px; */
    width: 198px;
    height: 45px;
}

.delete-product-button{

    
    color:rgb(230, 0, 61);
    margin-top: 12px;
    margin-bottom: 12px;
    /* color: #fff; */
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 18px;
    transition: opacity .15s linear, visibility 0s linear .15s;
    -webkit-font-smoothing: antialiased;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    /* margin-left: 16px; */
    border-radius: 25px;
    /* min-width: 121px; */
    width: 198px;
    background-color: transparent;
    height: 45px;
}



@media only screen and (max-width: 919px){
    .save-product-button{
        flex: 1;
     }
}

@media only screen and (max-width: 919px){
    .settings-button{
        width: 100%;
     }
}



.finances-container{
    width: 100%;
}
.finances-flex{
display: flex;
}
// .finances-box{
//     flex:1
// }
.finances-box{
    //background-color: white;
    margin:12px 0;
    flex:1 1 280px;
    /* flex: 0 1 280px; */
    //border-radius: 5px;
    height: 100%;
    //box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    //border-radius: 15px;
    //background: var(--fire-color-white-primary);
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 7px;
    }
    .finances-box:first-of-type {
        margin-right: 12px;
    }
    @media only screen and (max-width: 767px){
        .finances-flex {
            display: block;
            
        }
        .finances-box:first-of-type {
            margin-right: 0px;
        }

}
.finances-box-inner{
/* min-height: 120px; */
min-width: 275px;
width: 100%;
padding: 18px;
}

.finances-list-item{
    display: flex;
    justify-content: space-between;
    margin:6px 0px;
}
.finances-title-box{
    text-align: left;
    font-size: 14px;
    color:#039BE5
}
.finances-value-box{
    text-align: right;
    font-size: 14px;
    line-height: 20px;
        box-sizing: border-box;
        color: rgba(0,0,0,0.54);
}
.finances-box-label{
    color:#2C384A;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}
.gray-line{
    border-bottom: 1px solid rgba(157, 106, 106, 0.1);
    width: 100%;
    
}
